body {
	border: 10px solid #191970;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
	font-family: 'Nixie One', cursive;
	text-align: center;
	color: #191970;
}

.container{
	max-width: 85%;
}
.clearfix {
  overflow: auto;
}

.navbar {
	border-radius: 0px;
	background-color: white;
}

.navbar-brand {
	font-family: 'Nixie One', cursive;
	font-size: 2em;
}

img {
	max-width: 90%;
	margin: 20px;
}